<!DOCTYPE html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body>
      {% block content %}
      {% endblock %}
    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="/assets/jquery/dist/jquery-3.1.1.slim.min.js"></script>
    <script src="/assets/tether/dist/js/tether.min.js"></script>
    <script src="/assets/bootstrap/dist/js/bootstrap.min.js"></script>
  </body>
</html>