{% extends "layout.html.twig" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Oops… Lo que buscas no está aquí 🤔</h2>
        <h4>Error 404: página no encontrada</h4>
        <a href="{{ app.url_generator.generate('login') }}">Volver al inicio</a>
      </div>
    </div>
  </div>
{% endblock %}