{% extends 'layout.html.twig' %}

{% block title %}Iniciar sesi칩n{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 login-form">
                {% for alert in app.session.flashbag.get('error') %}
                <div class="alert alert-warning">
                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> {{ alert }}
                </div>
                {% endfor %}
                <div class="card">
                    <div class="card-block">
                        <form action="{{ app.url_generator.generate('signin') }}" method="post">
                            <h2>Iniciar sesi칩n</h2>
                            <hr/>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    <input type="text" class="form-control" placeholder="Usuario" name="username">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-key" aria-hidden="true"></i></div>
                                    <input type="password" class="form-control" placeholder="Contrase침a" name="password">
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary float-right"><i class="fa fa-sign-in" aria-hidden="true"></i> Iniciar sesi칩n</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
{% endblock %}